*.jpg
*.png
*.diff
*.wav

# compilation and distribution
__pycache__
_ext
*.pyc
*.so

sound_files/

# pytorch/python/numpy formats
*.pth
*.npy

**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

